body {
  overflow-x: hidden;
}

.body-container {
  background-color: #7eeed3;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.bg-comun {
  background-color: #7eeed3;
  min-height: 100vh;
}

.bg-form {
  background-color: #ccf6e6;
}

p {
  font-size: 16px;
}

.row-container {
  position: absolute;
  top: 50%;
}
.mt-center-percent {
  margin-top: 40%;
}

.text-bold {
  font-weight: bold;
}

.image-primary {
  margin-right: -30px;
}

.image-second {
  margin-left: -15px;
}

.btn-xl {
  padding: 1.1rem 4.5rem; /*Alto y ancho de un botón*/
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.btn-redes-sociales-login {
  padding: 1rem 3.5rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.btn-facebook {
  background-color: #1877f2;
  color: white;
}

.btn-google {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  color: #aeaeae;
}

.btn-xl-siguiente {
  background-color: #ffda6f;
}

.btn-bizmatch {
  background-color: #ffe497;
  border: 1px solid #ffd961;
}

.btn-recompensas {
  font-size: 11px;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}

.btn-xl-form-perfil {
  padding: 0.8rem 1.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.margin-top-5px {
  margin-top: -5px;
}

.margin-top-15px {
  margin-top: -15px;
}

.zindex-mayor {
  z-index: 9999;
  position: relative;
}

.input-login {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height: auto;
  border-bottom: 1px solid #7eeed3;
  width: 100%;
}

.input-login::placeholder {
  color: black !important;
  opacity: 1;
  font-weight: 400;
}

.text-condiciones-login {
  color: #6a6a6a;
  font-size: 11px;
}

.text-inicio-sesion-login {
  font-size: 14px;
  color: black;
}

.image-logo-form {
  position: absolute;
  margin-top: -50%;
  margin-left: -3%;
}

/*Página del formulario de Longin y Registro*/

.error-validate{
	color: red;
	font-weight: bold;
	font-size: 0.75rem;
}

.container-form{
	margin-bottom: 10%;
	padding-top: 1%;
	background-color: white;
}

.pull-right {
  float: right;
}

.color-texto-login {
  color: #6a6a6a;
}

.line-height-3 {
  line-height: 3;
}

.imagen_portada_proyecto {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.container-detalle-proyecto {
  background-color: white;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*Página Mi perfil*/

.navbar-inverse {
  background-color: #7eeed3 !important;
  border-color: #7eeed3;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
  border-color: transparent !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  border-color: #333 !important;
  background-color: transparent !important;
}

.navbar-brand {
  padding-right: 10px;
  padding-top: 6px;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.navbar-nombre {
  margin-left: 14%;
  position: absolute;
  color: black !important;
  font-weight: bold;
}

.navbar-titulo {
  margin-left: -3%;
  position: absolute;
  color: black !important;
  font-weight: bold;
}

.user-profile {
  border-radius: 50%;
}

.user-profile img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 2px solid #fcb305;
}
.user-profile1 {
  border-radius: 50%;
}

.user-profile1 img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 2px solid #000000;
}

.user-profile-contribuciones {
  border-radius: 50%;
}

.user-profile-contribuciones img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #fcb305;
}

.color-text-nombre-contribuciones {
  color: #00002c;
  font-weight: 600;
}

.mt-5,
.my-5 {
  margin-top: 1rem !important;
}

.mt-10,
.my-10 {
  margin-top: 4rem !important;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-5 {
  margin-bottom: 1rem !important;
}

.mb-10 {
  margin-bottom: 2rem !important;
}

.margin-left-25 {
  margin-left: -25px;
  margin-top: 14px;
}

.ver-descripcion-proyecto img {
  border-radius: 50%;
  width: 100px;
  height: 92px;
  border: 2px solid #fcb305;
  padding: 28px;
  background-color: white;
}

.container-opciones {
  margin-top: -50px;
  margin-bottom: 3%;
}

.flecha-anterior img,
.flecha-siguiente img {
  margin-top: 0px;
}

.flecha-anterior,
.flecha-siguiente {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 18px;
  background-color: white;
  margin-top: 5%;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.user-profile:hover .image {
  opacity: 0.3;
}

.user-profile:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 16px 32px;
  cursor: pointer;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
  background-color: #f7f1db;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: black;
  background-color: #ffda69;
  font-weight: bold;
}

.dropdown-menu li a.active {
  color: black !important;
  background-color: #ffda69;
  font-weight: bold;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
  color: black;
  font-size: 16px;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: black;
  background-color: #ffda69;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.text-twitter {
  margin-left: -20px;
  line-height: 14px;
}

.text-bio {
  color: #999999;
  text-transform: uppercase;
}

.text-bio-description {
  text-align: justify;
  padding: 10px;
}

.container-text-description {
  border: 2px solid #7eeed3;
  padding-right: 5px;
  padding-left: 5px;
}

.footer-perfil h4 {
  color: #999999;
}

.footer-perfil h1 {
  color: black;
  font-weight: bold;
}

.color_text_contribuciones {
  color: #63686f;
  font-weight: 600;
}

.nombre_proyecto_contribuciones {
  margin-top: -6px;
  margin-bottom: 6px;
}

.container-contribuciones-25 {
  background-color: #fff8e2;
  padding: 14px;
  margin-bottom: 15px;
}

.container-contribuciones-25 p {
  font-size: 14px;
  color: #7f7c71;
}

.container-contribuciones-50 {
  background-color: #ccf7e6;
  padding: 14px;
  margin-bottom: 15px;
}
.container-contribuciones-100 {
  background-color: #ead7c0;
  padding: 14px;
  margin-bottom: 15px;
}
.container-contribuciones-elige-cantidad {
  background-color: #ffda6f;
  padding: 14px;
  margin-bottom: 15px;
}

.input-editar-proyecto .input-login::placeholder {
  text-transform: none !important;
  font-weight: bold !important;
  text-align: center;
}

.btn-aportar {
  font-size: 16px;
  line-height: 4rem;
  color: black;
  font-weight: bold;
}

.image_triangulo {
  position: absolute;
  width: 25px;
  margin-top: 18px;
  margin-left: 10px;
}

.contenedor-roles {
  margin-top: -106%;
}

.btn-mentor {
  width: 50%;
  margin-right: -30%;
  margin-bottom: 12px;
  padding-right: 2em;
  padding-left: 2em;
  color: black;
}
.btn-emprendedor {
  width: 100%;
  margin-right: -30%;
  padding-right: 3em;
  padding-left: 3em;
  color: black;
  text-transform: uppercase;
}

.text-time {
  color: #7f7f7f;
  font-size: 14px;
}

.titulo-proyecto {
  margin-left: -6%;
  color: black;
}

.container-descripcion-proyecto p {
  color: #7f7f7f;
}

.user-profile-descripcion img {
  border-radius: 50%;
  width: 87px;
  height: 87px;
  border: 2px solid #fcb305;
}

.text-consulta {
  color: #999;
  text-decoration: none;
}

.text-consulta:hover {
  text-decoration: none !important;
  color: black !important;
}

/*Componente Slider Imagen de Descripción de proyectos*/

/* Carousel Styles */
.carousel-indicators .active {
  background-color: #2980b9;
}

.carousel-inner .imagen_slider {
  width: 100%;
  max-height: 460px;
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  padding: 15px;
}

.carousel-control.right span {
  padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
  background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 0;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h6 {
  font-size: 14px;
  margin-top: 13%;
}

.header-text h6 span {
  background-color: #ead7c0;
  padding: 10px;
  color: black;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 3px;
  font-weight: bold;
}

.header-text h3 {
  margin-top: 16%;
}

.header-text h3 span {
  padding: 15px;
  color: black;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px;
}

.btn-theme:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.progress-bar-descripcion-proyecto {
  background-color: #00dfa9;
}

.progress {
  background-color: #ffda6f !important;
  border-radius: 15px;
  height: 10px;
  margin-bottom: 0px;
  width: 108%;
}
.container-resumen .text-contadores,
.container-resumen img {
  margin-top: -10px;
}

.btn-aportar-proyecto {
  font-size: 18px;
  color: white;
}

.modal-dialog-centered {
  min-height: calc(100% - (1.75rem * 2));
}

.image-bizmatches-chats img {
  border-radius: 50%;
  width: 135px;
  height: 135px;
  border: 2px solid#fcb305;
  padding: 40px;
}

.margin-container-bizmatches-chats {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}

/*Componentes en la vista móvil*/

@media screen and (min-width: 300px) and (max-width: 700px) {
  .mt-center-percent {
    margin-top: 80%;
  }
  
  .image-second {
    margin-top: -35%;
  }

  .image-three {
    margin-top: -53%;
  }

  .width-full {
    width: 108% !important;
  }

  .font-14 {
    font-size: 14px !important;
  }

  .font-16 {
    font-size: 16px;
  }

  .font-20 {
    font-size: 20px !important;
  }

  .margin-left-10 {
    margin-left: 10px;
  }

  .margin-left-70 {
    margin-left: 70px;
  }

  .margin-top-90 {
    margin-top: -100px;
  }

  .margin-top-50px {
    margin-top: 30px;
  }

  .margin-top-35px {
    margin-top: -35px;
  }

  .margin-right-35px {
    margin-right: -35%;
  }

  .font-12 {
    font-size: 12px !important;
  }

	.margin-top-20{
		margin-top: 20%;
	}
	
	.padding-top-20{
		padding-top: 20%;
	}
}
