@tailwind base;

@tailwind components;

@tailwind utilities;

.error-validate{
	color: red;
	font-weight: bold;
	font-size: 0.75rem;
}

.viewport100 {
	height: calc(100vh + 52px);
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

.wrapper{
	width:200px;
	padding:20px;
	height: 150px;
}

.mt-nav{
	margin-top: 62px;
}

.link:hover, .link:active{
	border-bottom-width: 4px;
}

.bg-button{
	background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ) !important;
	background-size: 200% 200% !important;
}

@media (max-width: 1280px) {
	.backimage { background-image: none; }
}

@media (min-width: 1280px) {
	.backimage { background-image: url('../image/buscas_invertir.png'); }
}
