@tailwind base;

@tailwind components;

@tailwind utilities;

/*Temas*/

.theme-light {
  --bg-background-primary: white;
  --bg-background-secondary: white;
  --bg-background-terciary: #102c44;
  --bg-background-footer: #f7fafc;
  --bg-background-border: #a0aec0;
  --bg-background-borderf: #edf2f7;
  --bg-background-comment: white;
  --text-copy-primary: rgba(0, 0, 0, 0.8);
}

.theme-dark {
  --bg-background-primary: #102c44;
  --bg-background-secondary: #1a202c;
  --bg-background-terciary: #102c44;
  --bg-background-footer: #1a202c;
  --bg-background-border: #1a202c;
  --bg-background-borderf: #1a202c;
  --bg-background-comment: #1e3951;
  --text-copy-primary: rgb(235, 244, 241);
}



/*Estilos*/

.iframe-container {
  position: relative;
  padding-top: 30px; height: 0; overflow: hidden;
}

#widget2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.error-validate {
  color: red;
  font-weight: bold;
  font-size: 0.75rem;
}

.viewport100 {
  height: calc(100vh + 52px);
}

hr.style1 {
  border-top: 1px solid #8c8b8b;
}

.w-128 {
  width: 20rem;
}

.wrapper {
  width: 200px;
  padding: 20px;
  height: 150px;
}

.mt-nav {
  padding-top: 62px !important;
}

.link:hover,
.link:active {
  border-bottom-width: 4px;
}

.border-gold {
  border-color: #ffd700;
}

.bg-button {
  background-image: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  ) !important;
  background-size: 200% 200% !important;
}

@media (max-width: 1280px) {
  .backimage {
    background-image: none;
  }
}

@media (min-width: 1280px) {
  .backimage {
    background-image: url('../image/buscas_invertir.png');
  }
}

.top-edit {
  position: absolute;
  top: 225px;
  left: 33rem;
}

/*init page*/

.top-50 {
  top: 50%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .top-perfil {
    position: absolute;
    top: 120px;
    right: 10rem;
  }

  .top-edit {
    position: absolute;
    top: 120px;
    right: 10rem;
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  .mr-48-t {
    margin-right: 12rem;
  }
  .top-perfil {
    position: absolute;
    top: 120px;
    right: 2rem;
  }
}

@media (max-width: 549px) {
  .top-perfil {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
  }

  .change-content:after{
    content: 'Mentores';
    animation: changetext 5s infinite linear;
    color: transparent;
    font-size: 1rem;
   }

  .mt-pefil {
    margin-top: 9rem;
  }
}

.img-project {
  width: 768px;
  height: 400px;
}

/*Animaciones Init*/

.change-content:after{
  content: 'Mentores';
  animation: changetext 5s infinite linear;
  color: transparent;
  font-size: 3rem;
 }

@keyframes changetext{
  38%{ content: 'Mentores'; color: black;}
  48%{ content: 'Mentores'; color: black;}
  49%{ content: 'Mentores'; color: transparent;}
  50% { content: 'Emprendedores'; color: transparent;}
  90% { content: 'Emprendedores'; color: black;}
  100% { content: 'Emprendedores'; color: black;}
}

