@tailwind base;

@tailwind components;

@tailwind utilities;

.error-validate{
	color: red;
	font-weight: bold;
	font-size: 0.75rem;
}

.viewport100 {
	height: calc(100vh + 52px);
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

.body-background{
	background-color: #b5e7a0;
}

@media (min-width: 1024px) {
	.ml-200p{
		margin-left: 200px;
	}
}

@media (max-width: 1024px) {
	.mt-nav{
		margin-top: 62px;
	}
}

@media (max-width: 1280px) {
	.backimage { background-image: none; }
}

@media (min-width: 1280px) {
	.backimage { background-image: url('../image/buscas_invertir.png'); }
}